@model OnlineFoodHub.Models.Usuario

@{
    ViewData["Title"] = "Detalles del Usuario";
}

<div class="container mt-5">
    <h1 class="mb-4 text-info">
        <i class="fas fa-user"></i> Detalles del Usuario
    </h1>

    <div class="card shadow-sm p-4">
        <dl class="row">
            <dt class="col-sm-3 fw-bold">Nombre:</dt>
            <dd class="col-sm-9">@Model.Nombres</dd>

            <dt class="col-sm-3 fw-bold">Teléfono:</dt>
            <dd class="col-sm-9">@Model.Telefono</dd>

            <dt class="col-sm-3 fw-bold">Nombre de Usuario:</dt>
            <dd class="col-sm-9">@Model.NombreUsuario</dd>

            <dt class="col-sm-3 fw-bold">Rol:</dt>
            <dd class="col-sm-9">@Model.Rol.Nombre</dd>
        </dl>
    </div>

    <div class="mt-4">
        <a asp-action="Edit" asp-route-id="@Model.UsuarioId" class="btn btn-primary">
            <i class="fas fa-edit"></i> Editar
        </a>
        <a asp-action="Index" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i> Volver
        </a>
    </div>
</div>
