@model IEnumerable<OnlineFoodHub.Models.Usuario>

@{
    ViewData["Title"] = "Lista de Usuarios";
}

<div class="container mt-5">
    <h1 class="mb-4 text-dark">
        <i class="fas fa-users"></i> Lista de Usuarios
    </h1>

    <div class="text-end mb-3">
        <a asp-action="Create" class="btn btn-success">
            <i class="fas fa-user-plus"></i> Crear Nuevo Usuario
        </a>
    </div>

    <table class="table table-bordered table-hover shadow-sm">
        <thead class="table-primary text-center">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Nombres)</th>
                <th>@Html.DisplayNameFor(model => model.Telefono)</th>
                <th>@Html.DisplayNameFor(model => model.NombreUsuario)</th>
                <th>@Html.DisplayNameFor(model => model.Rol)</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Nombres</td>
                    <td>@item.Telefono</td>
                    <td>@item.NombreUsuario</td>
                    <td>@item.Rol.Nombre</td>
                    <td class="text-center">
                        <a asp-action="Edit" asp-route-id="@item.UsuarioId" class="btn btn-primary btn-sm">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a asp-action="Details" asp-route-id="@item.UsuarioId" class="btn btn-info btn-sm">
                            <i class="fas fa-eye"></i>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.UsuarioId" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash-alt"></i>
                        </a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
