@model OnlineFoodHub.Models.Usuario
@{
    ViewData["Title"] = "Perfiles de usuario";
}

<div class="container">
    <div class="card emp-profile bg-light my-5">
        <div class="row">
            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <img src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg" alt="profile picture" class="img-fluid rounded-circle" style="width: 150px; height: 150px;">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@Model.NombreUsuario</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@Model.Correo</h6>
                    <p class="card-text"><strong>Nombres:</strong> <span>@Model.Nombres</span></p>
                    <p class="card-text"><strong>Teléfono:</strong> <span>@Model.Telefono</span></p>
                    <h6 class="mt-3">Direcciones</h6>
                    <div>
                        @if (Model.Direcciones.Any())
                        {
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Dirección</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var direccion in Model.Direcciones)
                                        {
                                            <tr>
                                                <td>@direccion.Address</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                        else
                        {
                            <p>No hay direcciones disponibles</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
