@model OnlineFoodHub.Models.Pedido

@{
    ViewData["Title"] = "Delete";
}

<div class="container mt-4">
    <h1 class="text-danger">@ViewData["Title"]</h1>

    <h3 class="mb-4">Are you sure you want to delete this?</h3>

    <div class="card border-danger">
        <div class="card-header bg-danger text-white">
            <h4 class="mb-0">Pedido Details</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3 text-danger">
                    @Html.DisplayNameFor(model => model.Usuario)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Usuario.Contrasenia)
                </dd>

                <dt class="col-sm-3 text-danger">
                    @Html.DisplayNameFor(model => model.Fecha)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Fecha)
                </dd>

                <dt class="col-sm-3 text-danger">
                    @Html.DisplayNameFor(model => model.Estado)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Estado)
                </dd>

                <dt class="col-sm-3 text-danger">
                    @Html.DisplayNameFor(model => model.DireccionIdSeleccionada)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.DireccionIdSeleccionada)
                </dd>

                <dt class="col-sm-3 text-danger">
                    @Html.DisplayNameFor(model => model.Total)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Total)
                </dd>
            </dl>
        </div>
        <div class="card-footer">
            <form asp-action="Delete" class="d-inline">
                <input type="hidden" asp-for="PedidoId" />
                <button type="submit" class="btn btn-danger">
                    <i class="fas fa-trash-alt"></i> Delete
                </button>
            </form>
            <a asp-action="Index" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Back to List
            </a>
        </div>
    </div>
</div>
