@model OnlineFoodHub.Models.Pedido

@{
    ViewData["Title"] = "Details";
}

<div class="container mt-4">
    <h1 class="mb-4">@ViewData["Title"]</h1>

    <div class="card">
        <div class="card-header text-white bg-primary">
            <h4 class="mb-0">Pedido Details</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3 text-primary">
                    @Html.DisplayNameFor(model => model.Usuario)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Usuario.Contrasenia)
                </dd>

                <dt class="col-sm-3 text-primary">
                    @Html.DisplayNameFor(model => model.Fecha)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Fecha)
                </dd>

                <dt class="col-sm-3 text-primary">
                    @Html.DisplayNameFor(model => model.Estado)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Estado)
                </dd>

                <dt class="col-sm-3 text-primary">
                    @Html.DisplayNameFor(model => model.DireccionIdSeleccionada)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.DireccionIdSeleccionada)
                </dd>

                <dt class="col-sm-3 text-primary">
                    @Html.DisplayNameFor(model => model.Total)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Total)
                </dd>
            </dl>
        </div>
        <div class="card-footer d-flex justify-content-between">
            <a asp-action="Edit" asp-route-id="@Model?.PedidoId" class="btn btn-warning">
                <i class="fas fa-edit"></i> Edit
            </a>
            <a asp-action="Index" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Back to List
            </a>
        </div>
    </div>
</div>

